body
{
    width:100%;
}

.general
{
    width:100%;
    display:inline-block;
}
.cine
{
    margin:5px;
    background-color: aqua;
    width:400px;
    height:270px;
    display: inline-block;
    
}
.cine2
{
    margin:5px;
    background-color: orange;
    width:400px;
    height:270px;
    display: inline-block;
    
}
.cine3
{
    margin:5px;
    background-color: greenyellow;
    width:400px;
    height:270px;
    display: inline-block;
    
}
section{
    width:100%;
}
#test
{
    width:400px;
    height:270px;
}
.divtext
{
    width:49%;
    display: inline-block;
    margin-top:20%;
}

img
{
    float:right;
    width:50%;
    height:100%;
    
}



